:root{
  --bg:royalblue;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg);
}
.color-switcher{
  width: 10rem;
  background-color: rgb(102, 97, 97);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
}
.color-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem ;
}
.color-item{
  width: 2rem;
  height: 2rem;
  padding: 10px;
  margin: 2px;
  border-radius: 50%;
  background-color: var(--bg);
  box-shadow: 15px 15px 15px rgba(0,0,0,0.1),inset -5px -5px 5px rgba(255,255,255,0.2), inset 1px 5px 5px rgba(14, 230, 68, 0.1);
  border: 2px solid black;
}